@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  position: relative;
  width: 350px;
  height: 75px;
  display: block;
  @apply hover:cursor-pointer;
}

.nav {
  @apply text-white text-xl font-normal uppercase h-full space-x-16;
}
.nav.dark {
  @apply text-slate-700;
}

.nav span {
  @apply inline-block hover:cursor-pointer hover:translate-y-1 transition duration-300;
}
