@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  position: relative;
  width: 350px;
  height: 75px;
  display: block;
  @apply hover:cursor-pointer;
}

.nav {
  @apply text-white text-xl font-normal uppercase h-full space-x-16;
}
.nav.dark {
  @apply text-slate-700;
}

.nav span {
  @apply inline-block hover:cursor-pointer hover:translate-y-1 transition duration-300;
}

h1 {
  @apply text-3xl mb-8 font-medium;
}
h2 {
  @apply text-2xl mb-5;
}
h3 {
  @apply text-xl mb-5;
}

.fc-toolbar button {
  @apply rounded-sm !important;
}
.fc-button-group {
  gap: 10px;
}

/* .button {
  @apply hover:bg-slate-700 hover:text-white px-10 py-3 rounded-sm bg-slate-300 transition-all;
} */

.DatePicker .DateRangePicker_picker {
  @apply z-50;
}
.DatePicker .DateRangePicker {
  @apply w-full;
}
.DatePicker .DateRangePickerInput {
  @apply justify-evenly;
}
.DatePicker .DateInput_input {
  @apply py-[5px] text-lg text-center;
}

.DatePicker .DateRangePickerInput__withBorder {
  @apply border-slate-300;
}

.DatePicker .DateRangePickerInput {
  @apply flex;
}

.DatePicker .DateRangePickerInput_arrow {
  @apply self-center;
}

.CalendarDay__selected_span {
  background: theme("colors.slate.300") !important;
  border: 1px double theme("colors.slate.200") !important;
}
.CalendarDay__selected {
  background: theme("colors.slate.600") !important;
  color: white !important;
  border: 1px double theme("colors.slate.400") !important;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: theme("colors.slate.300") !important;
  border: 1px double theme("colors.slate.400") !important;
  color: theme("colors.slate.600") !important;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right-color: theme("colors.slate.600") !important;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-slate-200 !important;
}

/* EVENT TABLE */

.event-row:hover {
  background-color: theme("colors.slate.100");
  cursor: pointer;
}
